.header {
  padding: 20px;
  background-color: #dedede;
  box-shadow:
    0 4px 4px -4px rgba(30, 33, 44, 0.03),
    0 12px 10px -6px rgba(154, 156, 165, 0.04),
    0 30px 24px -10px rgba(154, 156, 165, 0.05),
    0 80px 80px -20px rgba(154, 156, 165, 0.08);
  margin-bottom: 20px;
}

.headerInner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  flex-wrap: wrap;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.error {
  background-color: red;
  padding: 5px 10px;
  border-radius: 5px;
}
